.header {
    background-color: rgb(230, 169, 55);
    margin: -10px auto;
}
#for-real {
    color: aliceblue;
    position: relative;
    top: 20px;
    left: 50px;
}
#nav {
    text-align: right;
    color: white;
    position: relative;
    bottom: 20px;
}
#nav span {
    padding-left: 30px;
    padding-right: 10px;
}
#nav a {
    color:aliceblue;
    text-decoration: none;
}
.flexing {
    display: flex;
    flex-wrap: wrap;
}

.main-content1 {
    margin-top: 30px;
    margin-left: 40px;
    border: 4px solid rgb(230, 169, 55);
    width: 300px;
    height: 530px;
    font-family: 'Times New Roman', Times, serif;
}
#dashboard h1 {
    padding-left: 15px;
}
#dashboard h3 {
    padding-left: 30px;
    font-weight: lighter;
}
#dashboard input {
    width: 285px;
    height: 30px;
    margin-left: 8px;
    font-size: 17px;
    background-color:rgb(230, 169, 55);
    color:aliceblue;
    border: none;
}
.main-content2 {
    margin-top: 30px;
    margin-left: 10px;
    border: 4px solid rgb(230, 169, 55);
    width: 300px;
    height: 530px;
    font-family: 'Times New Roman', Times, serif;
}
#budget h1 {
    padding-left: 15px;
}
#budget h3 {
    padding-left: 30px;
    font-weight: lighter;
}
#budget input {
    width: 285px;
    height: 30px;
    margin-left: 8px;
    font-size: 17px;
    background-color:rgb(230, 169, 55);
    color:aliceblue;
    border: none;
}
.main-content3 {
    margin-top: 30px;
    margin-left: 10px;
    border: 4px solid rgb(230, 169, 55);
    width: 300px;
    height: 530px;
    font-family: 'Times New Roman', Times, serif;
}
#checkbooks h1 {
    padding-left: 15px;
}
#checkbooks h3 {
    padding-left: 30px;
    font-weight: lighter;
}
#checkbooks input {
    width: 285px;
    height: 30px;
    margin-left: 8px;
    font-size: 17px;
    background-color:rgb(230, 169, 55);
    color:aliceblue;
    border: none;
}
.main-content4 {
    margin-top: 30px;
    margin-left: 10px;
    border: 4px solid rgb(230, 169, 55);
    width: 300px;
    height: 530px;
    font-family: 'Times New Roman', Times, serif;
}
#money h1 {
    padding-left: 15px;
}
#money h3 {
    padding-left: 30px;
    font-weight: lighter;
}
#money input {
    width: 285px;
    height: 30px;
    margin-left: 8px;
    font-size: 17px;
    background-color:rgb(230, 169, 55);
    color:aliceblue;
    border: none;
}